*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.con{
    height: 100vh;
    width: 100%;
    position: relative;
}
.main{
    height: 100vh;
    width: 100%;
}
nav{
    width: 100%;
    height: 10%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px 0px;
}
nav div{
    display: flex;
}
nav a{
    color: black;
    text-decoration: none;
    font-size: medium;
}
.logo{
    display: flex;
    align-items: center;
    gap: 50px;
}
.logo a{
    font-size: large;
}
.links{
    display: flex;
    align-items: center;
    gap: 20px;
}
.inquire button{
    width: 100%;
    height: 30px;
    border: none;
}
.top{
    height: 1500vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px 120px 0px;
}
.top p{
    font-size: large;
    color: grey;
}
.first{
    height: 70vh;
}
.info{
    margin-top: 75px;
    width: 35%;
    height: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.info h1{
    font-size: 80px;
    font-weight: 600;
    line-height: 90%;
}
.info p{
    font-size: 25px;
}
.buttons{
    display: flex;
    gap: 6px;
}
.buttons button{
    font-size: medium;
    color: white;
    width: 160px;
    height: 45px;
    border: none;
    border-radius: 8px;
    background-color: rgba(0, 0, 255, 0.641);
}
.buttons .request{
    background-color: lightblue;
    color: blue;
}
.teams{
    height: 35%;
    width: 45%;
    background-color: yellow;
}
.images{
    height: 100vh;
    background-color: blue;
    border-radius: 20px;
}
.options{
    height: 100px;
    padding: 0px 280px 0px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
}
.options div{
    height: 35%;
    background-color: lightgray;
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.build{
    height: 140vh;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.perfect{
    width: 100%;
    display: flex;
    height: 37%;
    justify-content: space-between;
    align-items: end;
}
.perfect p{
    font-size: large;
    color: grey;
}
.every{
    width: 40%;
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.every h1{
    font-size: 60px;
}
.every p{
    font-size: large;
    color: grey;
}
.every a{
    font-size: large;
    text-decoration: none;
}
.every:hover a{
    text-decoration-line: underline;
}
.tools{
    height: 45%;
    width: 55%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    align-items: end;
}
.tools .points{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.tools img{
    height: 50%;
    width: 50%;
}
.ideas{
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.picture{
    height: 60%;
    background-color: blue;
    width: 100%;
    border-radius: 20px;
}
.replace{
    width: 60%;
    display: grid;
    justify-content: start;
    align-items: center;
    padding: 0;
    gap: 10px;
}
.everything{
    width: 100%;
    height: 300px;
    background-image: url('/htmlandcss/assets/arrange.png');
    background-size: 70% 70%;
    object-fit: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 200px;
}
.template{
    height: 140vh;
    width: 100%;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.start{
    width: 50%;
    height: 45%;
}
.company{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    background-color: white;
}
.browse{
    background-color: lightgray;
    border-radius: 20px;
}
.wiki{
    grid-row: span 3;
    grid-column: span 2;
}
.mini{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50%;
    width: 50%;
    margin: 30px;
}
.mini img{
    height: 50%;
    width: 50%;
}
.wiki .mini{
    height: 15%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 30px;
}
.wiki .mini img{
    height: 50%;
    width: 20%;
}
.mini a{
    font-size: large;
    text-decoration: none;
    color: black;
}
.work{
    height: 100vh;
    width: 100%;
    background-color: blue;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.header{
    width: 50%;
    height: 40%;
    display: flex;
    align-items: end;
}
.header h1{
    font-size: 60px;
}
.grid{
    height: 55%;
    background-color: red;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 70px;
}
.items{
    background-color: white;
}
.except{
    background-color: red;
}